@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cocogoose Compressed';
  font-style: normal;
  font-weight: 700;

  /* prettier-ignore */
  src: url('../assets/fonts/CocogooseCompressed-Bold.woff2') format('woff2'), url('../assets/fonts/CocogooseCompressed-Bold.woff') format('woff');
}

@layer base {
  :root {
    font-family: 'Lato', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .menu-list {
    @apply absolute opacity-0 top-0 -left-full w-full h-full flex flex-col gap-4 md:static md:flex-row md:gap-8 md:opacity-100 transition-opacity duration-500 md:transition-none;
  }

  .menu-list > li:not(:last-child):hover {
    @apply text-primary;
  }

  .topic-card {
    @apply grid grid-cols-[4rem_6rem_1fr] w-full place-items-center gap-2 bg-white bg-opacity-10 p-4 md:py-6 md:grid-cols-none md:grid-rows-[auto_auto_1fr] md:text-center;
  }

  .topic-card img {
    @apply h-14;
  }

  .topic-card h6 {
    @apply text-primary text-lg font-bold text-left w-full md:text-xl md:text-center;
  }

  .topic-card p {
    @apply text-gray-200 self-start text-sm md:text-base;
  }

  .film-image {
    @apply block flex-1 aspect-video bg-cover bg-center bg-no-repeat relative;
  }

  .film-image::before {
    @apply content-[''] block w-full h-full bg-red-500 bg-opacity-70;
  }

  .film-image div {
    @apply absolute w-full h-full top-0 left-0 text-white flex flex-col items-center justify-center;
  }

  .film-image h6 {
    @apply text-3xl font-extrabold;
  }
}

/* Handle Menu */
@media (max-width: 767px) {
  .show-menu {
    @apply overflow-hidden;
  }

  .show-menu .menu-list {
    @apply left-0 bg-white opacity-100 bg-opacity-50 backdrop-blur w-screen h-screen items-center justify-center gap-8 text-xl font-bold;
  }

  .show-menu #menu-btn {
    @apply hidden;
  }

  .show-menu #close-menu-btn {
    @apply block;
  }
}

/* Voice Actor Section */
.actor-card {
  @apply grid grid-cols-[auto_1fr] gap-4 bg-squares bg-no-repeat bg-[length:4rem_4rem] bg-opacity-10;
}

.show-less-actor .actor-card:nth-child(n + 3) {
  @apply hidden md:grid;
}

.show-less-actor #voice-actor-btn-text {
  @apply -top-full;
}

.show-less-actor #voice-actor-btn-icon {
  @apply rotate-180;
}

.actor-image {
  @apply w-28 h-28 object-cover pl-4 pt-4;
}

.actor-info {
  @apply flex flex-col gap-0.5;
}

.actor-info h5 {
  @apply text-lg font-extrabold;
}

.actor-info h6 {
  @apply text-sm text-primary italic;
}

.actor-info span {
  @apply block w-4 h-[1px] bg-gray-500 my-1.5;
}

.actor-info p {
  @apply text-xs text-gray-600;
}
